In [1]:
import h2o
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from pathlib import Path
from sklearn.model_selection import train_test_split

pd.set_option("display.max_column", None)

In [2]:
project_root = Path().cwd().parent.parent.parent.parent
project_root

WindowsPath('d:/brvehins')

In [3]:
data_dir = project_root / "data"
data_dir

WindowsPath('d:/brvehins/data')

In [4]:
h2o.init(max_mem_size="16G")

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
; OpenJDK 64-Bit Server VM Zulu23.32+11-CA (build 23.0.2+7, mixed mode, sharing)
  Starting server from D:\conda\envs\brvehins_separate_env\Lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\S-A301~1\AppData\Local\Temp\tmp1vk6jq79
  JVM stdout: C:\Users\S-A301~1\AppData\Local\Temp\tmp1vk6jq79\h2o_s_A301_22_started_from_python.out
  JVM stderr: C:\Users\S-A301~1\AppData\Local\Temp\tmp1vk6jq79\h2o_s_A301_22_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.
Warning: Your H2O cluster version is (5 months and 13 days) old.  There may be a newer version available.
Please download and install the latest version from: https://h2o-release.s3.amazonaws.com/h2o/latest_stable.html

--------------------------  --------------------------------
H2O_cluster_uptime:         12 secs
H2O_cluster_timezone:       Europe/Warsaw
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.46.0.6
H2O_cluster_version_age:    5 months and 13 days
H2O_cluster_name:           H2O_from_python_s_A301_22_gewe6e
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    15.98 Gb
H2O_cluster_total_cores:    4
H2O_cluster_allowed_cores:  4
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.13.1 final
--------------------------  --------------------------------

In [5]:
preprocessed_file_name = data_dir / "brvehins1.parquet"
preprocessed_file_name

WindowsPath('d:/brvehins/data/brvehins1.parquet')

In [6]:
input_df = h2o.import_file(str(preprocessed_file_name))

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [7]:
print(f"Input data shape: {input_df.dim}")

Input data shape: [1824675, 37]

In [8]:
input_df.describe()

Rows:1824675
Cols:37

         Gender     DrivAge    VehYear             VehModel                                                    VehGroup                        Area                                      State               StateAb    ExposTotal             PremTotal               SumInsAvg           ClaimNbRob            ClaimNbPartColl      ClaimNbTotColl        ClaimNbFire            ClaimNbOther         ClaimAmountRob     ClaimAmountPartColl    ClaimAmountTotColl    ClaimAmountFire     ClaimAmountOther    FreqRob               SevRob              PPRob              FreqPartColl         SevPartColl        PPPartColl          FreqTotColl           SevTotColl         PPTotColl          FreqFire              SevFire             PPFire             FreqOther            SevOther           PPOther             Fold
-------  ---------  ---------  ------------------  ----------------------------------------------------------  ------------------------------  ----------------------------------------  ------------------  ---------  ---------------------  ----------------------  ------------------  --------------------  -------------------  --------------------  ---------------------  -------------------  -----------------  ---------------------  --------------------  ------------------  ------------------  --------------------  ------------------  -----------------  -------------------  -----------------  ------------------  --------------------  -----------------  -----------------  --------------------  ------------------  -----------------  -------------------  -----------------  ------------------  ------------------
type     enum       enum       int                 enum                                                        enum                            enum                                      enum                enum       real                   real                    real                int                   int                  int                   int                    int                  int                int                    int                   int                 int                 real                  real                real               real                 real               real                real                  real               real               real                  real                real               real                 real               real                int
mins                           1947.0                                                                                                                                                                                   0.0027397261001169703  1.7053025658242404e-13  0.38                0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 1.0
mean                           2005.5896282899573                                                                                                                                                                       3.407280206514535      4011.4781949726994      42452.01881185921   0.027500239768725947  0.21718497814679327  0.017090714784824716  0.0007310890980585577  0.49757354049351354  681.3775242166431  777.4399961636943      543.8431348048289     14.223913847671511  128.78447833175778  0.019887222000748883  493.25462225702387  590.8481413019481  0.12379198744814413  411.6531216392492  560.7330900194224   0.020461830680235632  488.6686740214017  730.9797444071476  0.000573051095095401  13.765382739391955  31.93757251449335  0.15351673966997867  47.99985162454717  108.77103516693442  3.599999999999894
maxs                           2012.0                                                                                                                                                                                   8078.440000000001      6478755.129999999       1307269.9399999997  164.0                 1617.0               66.0                  6.0                    1278.0               4421765.0          2289213.0              2201873.0             233433.0            967914.0            1094.9999709357508    370496.0            23051939.38813943  5474.999854678754    622483.0           24583114.34749792   729.999980623834      366976.0           27480849.27058422  182.4999951559585     233433.0            34331534.0887486   6934.999815926422    387741.0           30331499.194920298  6.0
sigma                          4.806124228609021                                                                                                                                                                        16.520357463579103     18858.924376495976      38521.653537778555  0.3128209841613047    2.5466160757764817   0.16008966839468347   0.028547392962383348   5.1962097989448015   8922.751036592452  6246.836366930708      6208.476440008254     859.3823035432882   2327.048585469259   1.5477521427086254    4724.0184033844735  39164.5249426387   6.200259183527831    2620.318285074021  31341.203107649577  1.5361622210973624    4822.318163327112  54204.10717354922  0.14872904209433221   832.3194367794416   25529.4003187045   6.592669006589075    1055.431001988129  23636.262903919433  1.7435600551890866
zeros                          0                                                                                                                                                                                        0                      0                       0                   1789447               1636860              1796723               1823403                1656664              1789447            1636860                1796723               1823403             1656664             1789447               1789447             1789447            1636860              1636860            1636860             1796723               1796723            1796723            1823403               1823403             1823403            1656664              1656664            1656664             0
missing  0          0          0                   0                                                           0                               0                                         0                   0          0                      0                       0                   0                     0                    0                     0                      0                    0                  0                      0                     0                   0                   0                     0                   0                  0                    0                  0                   0                     0                  0                  0                     0                   0                  0                    0                  0                   0
0        Female     >55        1997.0              Gm - Chevrolet - Kadett Gl 2.0 Mpfi / Efi                   Gm Chevrolet Kadett             Interior                                  Rio de Janeiro      RJ         1.01                   742.75                  10852.99            0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 2.0
1        Female     36-45      2010.0              Gm - Chevrolet - Montana 1.4 8v Conquest Econoflex  2p      Gm Chevrolet Montana            Maranhao                                  Maranhao            MA         3.0                    5025.68                 31009.73            0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 5.0
2        Female     18-25      2008.0              Vw - Volkswagen - Fox City 1.0mi/ 1.0mi Total Flex 8v 3p    Vw Volkswagen Fox 1.0           Mato Grosso do Sul                        Mato Grosso do Sul  MS         1.01                   916.2599999999998       24977.180000000004  0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 2.0
3        Male       >55        2004.0              Harley-davidson - Fat Boy                                   Harley-davidson Motos - Todas   Met. Porto Alegre e Caxias do Sul         Rio Grande do Sul   RS         1.45                   1601.68                 35932.66            0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 6.0
4        Male       36-45      2009.0              Volvo - Fh 440 6x2 2p (diesel)                              Volvo Caminhoes - Todos         Ribeirao Preto e Demais Mun. de Campinas  Sao Paulo           SP         4.55                   53031.35                301889.74           0.0                   1.0                  0.0                   0.0                    0.0                  0.0                648.0                  0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.21978021978021972  648.0              142.41758241758245  0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 5.0
5        Male       26-35      1998.0              Vw - Volkswagen - Gol Gl 1.6 Mi/star 1.6 E 1.8/atlanta 1.6  Vw Volkswagen Gol Acima De 1.0  Met. Porto Alegre e Caxias do Sul         Rio Grande do Sul   RS         1.0                    660.59                  13574.0             0.0                   1.0                  0.0                   0.0                    2.0                  0.0                2773.0                 0.0                   0.0                 120.0               0.0                   0.0                 0.0                1.0                  2773.0             2773.0              0.0                   0.0                0.0                0.0                   0.0                 0.0                2.0                  60.0               120.0               3.0
6        Male       18-25      1999.0              Gm - Chevrolet - Corsa Sedan Super 1.0 Mpfi 4p              Gm Chevrolet Corsa 1.0          Grande Campinas                           Sao Paulo           SP         1.01                   959.55                  14043.630000000003  0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 3.0
7        Corporate  nan        2006.0              Honda - Cg 150 Titan-esd/ Titan Special Edition             Honda Motos Ate 450cc           Vale do Paraiba e Ribeira                 Sao Paulo           SP         1.51                   981.8300000000002       4929.810000000001   0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 2.0
8        Female     26-35      2002.0              Fiat - Uno Mille 1.0 Fire/ F.flex/ Economy 4p               Fiat Uno 1.0                    Demais regioes                            Rio Grande do Sul   RS         0.93                   589.07                  13976.55            0.0                   0.0                  0.0                   0.0                    0.0                  0.0                0.0                    0.0                   0.0                 0.0                 0.0                   0.0                 0.0                0.0                  0.0                0.0                 0.0                   0.0                0.0                0.0                   0.0                 0.0                0.0                  0.0                0.0                 3.0
9        Male       26-35      2010.0              Vw - Volkswagen - Gol City (trend) 1.0 Mi Total Flex 8v 4p  Vw Volkswagen Gol 1.0           Maranhao                                  Maranhao            MA         10.42                  12908.31                26540.060000000005  0.0                   1.0                  0.0                   0.0                    2.0                  0.0                1512.0                 0.0                   0.0                 320.0               0.0                   0.0                 0.0                0.09596928982725528  1512.0             145.10556621880997  0.0                   0.0                0.0                0.0                   0.0                 0.0                0.19193857965451055  160.0              30.71017274472169   2.0
[1824675 rows x 37 columns]

In [9]:
input_df.columns

['Gender',
 'DrivAge',
 'VehYear',
 'VehModel',
 'VehGroup',
 'Area',
 'State',
 'StateAb',
 'ExposTotal',
 'PremTotal',
 'SumInsAvg',
 'ClaimNbRob',
 'ClaimNbPartColl',
 'ClaimNbTotColl',
 'ClaimNbFire',
 'ClaimNbOther',
 'ClaimAmountRob',
 'ClaimAmountPartColl',
 'ClaimAmountTotColl',
 'ClaimAmountFire',
 'ClaimAmountOther',
 'FreqRob',
 'SevRob',
 'PPRob',
 'FreqPartColl',
 'SevPartColl',
 'PPPartColl',
 'FreqTotColl',
 'SevTotColl',
 'PPTotColl',
 'FreqFire',
 'SevFire',
 'PPFire',
 'FreqOther',
 'SevOther',
 'PPOther',
 'Fold']

In [11]:
#input_df = input_df.drop('__index_level_0__', axis=1) to już usunięte

H2OValueError: Column(s) selected to drop are not in original frame: '__index_level_0__'

In [12]:
input_df.columns

['Gender',
 'DrivAge',
 'VehYear',
 'VehModel',
 'VehGroup',
 'Area',
 'State',
 'StateAb',
 'ExposTotal',
 'PremTotal',
 'SumInsAvg',
 'ClaimNbRob',
 'ClaimNbPartColl',
 'ClaimNbTotColl',
 'ClaimNbFire',
 'ClaimNbOther',
 'ClaimAmountRob',
 'ClaimAmountPartColl',
 'ClaimAmountTotColl',
 'ClaimAmountFire',
 'ClaimAmountOther',
 'FreqRob',
 'SevRob',
 'PPRob',
 'FreqPartColl',
 'SevPartColl',
 'PPPartColl',
 'FreqTotColl',
 'SevTotColl',
 'PPTotColl',
 'FreqFire',
 'SevFire',
 'PPFire',
 'FreqOther',
 'SevOther',
 'PPOther',
 'Fold']

In [13]:
# Recheck for missind values
input_df.isna().sum()

0.0

In [14]:
coverage = "PartColl" #manual input
model = "sev" # manual inut - one of "freq", "sev", "pp"

exposure = "ExposTotal"
model_numerator = f"ClaimNb{coverage}" if model == "freq" else f"ClaimAmount{coverage}"
model_denominator = f"ClaimNb{coverage}" if model == "sev" else exposure
model_fraction = f"{model.capitalize()}{coverage}" if model != "pp" else f"{model.upper()}{coverage}"
response = model_numerator if model == "freq" else model_fraction # Classical setup for GLMs. May be differennt for other ML models

print(f"Coverage: {coverage}")
print(f"Model: {model}")
print(f"Model numerator: {model_numerator}")
print(f"Model denominator: {model_denominator}")
print(f"Model fraction: {model_fraction}")
print(f"Response: {response}")

Coverage: PartColl
Model: sev
Model numerator: ClaimAmountPartColl
Model denominator: ClaimNbPartColl
Model fraction: SevPartColl
Response: SevPartColl

In [15]:
required_columns_ls = [model_numerator, model_denominator, model_fraction, response, exposure]

input_df[required_columns_ls].head(2)

  ClaimAmountPartColl    ClaimNbPartColl    SevPartColl    SevPartColl0    ExposTotal
---------------------  -----------------  -------------  --------------  ------------
                    0                  0              0               0          1.01
                    0                  0              0               0          3
[2 rows x 5 columns]

In [16]:
if model in ["freq", "sev"]:
    condition = (input_df[model_denominator]>0) & (input_df[model_numerator]>=0) & (input_df[model_fraction]>=0)
elif model == "sev":
    condition = (input_df[model_denominator]>0) & (input_df[model_numerator]>0) & (input_df[model_fraction]>0)
df = input_df[condition]

In [17]:
print(f"Filtered Data shape: {df.dim}")

Filtered Data shape: [187815, 37]

In [18]:
exposure_log_col = df[exposure].log()
exposure_log_col

  log(ExposTotal)
-----------------
       1.51513
       0
       2.34373
       2.48407
       1.79509
       2.11505
       4.07448
       2.96011
       1.03674
       0.00995033
[187815 rows x 1 column]

In [19]:
df = df.cbind(exposure_log_col)

In [20]:
df.columns[-1]

'log(ExposTotal)'

In [21]:
exposure_log = 'log(ExposTotal)'
offset = exposure_log if model == "freq" else None
print(f"Offset: {offset}")

Offset: None

In [22]:
df[[exposure, exposure_log]].head()

  ExposTotal    log(ExposTotal)
------------  -----------------
        4.55         1.51513
        1            0
       10.42         2.34373
       11.99         2.48407
        6.02         1.79509
        8.29         2.11505
       58.82         4.07448
       19.3          2.96011
        2.82         1.03674
        1.01         0.00995033
[10 rows x 2 columns]

In [23]:
enum_columns = [col for col, dtype in df.types.items() if dtype == "enum"]
for col in enum_columns:
    print(f"Number of unique valuesfor {col}: {len(df[col].unique())}")
    print(f"Value counts for {col}:")
    display(df[col].table().head(50))

Number of unique valuesfor Gender: 3
Value counts for Gender:

Gender      Count
--------  -------
Female      80598
Male        97544
nan          9673
[3 rows x 2 columns]

Number of unique valuesfor DrivAge: 6
Value counts for DrivAge:

DrivAge      Count
---------  -------
18-25        11604
26-35        36300
36-45        54877
46-55        39208
>55          36423
nan           9403
[6 rows x 2 columns]

Number of unique valuesfor VehModel: 2248
Value counts for VehModel:

VehModel                                           Count
-----------------------------------------------  -------
Agrale - 13000 Turbo 2p (diesel)                       1
Agrale - 1600 D-rs 2p (diesel)                         1
Agrale - 5000 D-rd 2p (diesel)                         1
Agrale - 6000 D Cs 2p (diesel)                         1
Agrale - 7000 D 2p (diesel)                            1
Agrale - 8500 Turbo 2p (diesel)                        9
Agrale - 9200 Turbo 2p (diesel)                        5
Alfa Romeo - 147 2.0 16v 148cv 4p Semi-aut.            1
Alfa Romeo - 156 Ts/sport/elegant 2.0 16v              4
Alfa Romeo - 164 3.0 V6                                1
Audi - A3 1.6 3p                                       5
Audi - A3 1.6 5p                                      14
Audi - A3 1.6 5p Aut                                   1
Audi - A3 1.6 8v 102cv 3p                              2
Audi - A3 1.8 3p                                      11
Audi - A3 1.8 3p Aut.                                  2
Audi - A3 1.8 5p Aut.                                 22
Audi - A3 1.8 5p Mec.                                 40
Audi - A3 1.8 Turbo 180cv 3p Aut./ Tip.                1
Audi - A3 1.8 Turbo 180cv 5p Aut./ Tip.               10
Audi - A3 1.8 Turbo 180cv 5p Mec.                      7
Audi - A3 1.8 Turbo 3p Aut.                            1
Audi - A3 1.8 Turbo 3p Mec.                            1
Audi - A3 1.8 Turbo 5p Aut.                           19
Audi - A3 1.8 Turbo 5p Mec.                           14
Audi - A3 Sportback 1.6 8v 102cv 5p                    5
Audi - A3 Sportback 2.0 16v Turbo Fsi Mec.            12
Audi - A3 Sportback 2.0 16v Turbo Fsi S-tronic        47
Audi - A4 1.8 Tip./ Multitronic Turbo                 13
Audi - A4 2.0 16v Tb Fsi Multitronic                  10
Audi - A4 2.8 30v  Tiptronic/ Aut.                     1
Audi - A4 3.0 30v 218cv Multitronic 4p                 3
Audi - A5 3.2 Fsi 24v 269cv Multitronic                1
Audi - A6 2.8 30v Tiptronic                            2
Audi - A6 3.0 V6 30v 218cv Multitronic 4p              4
Audi - A6 3.2 Fsi 24v 255cv Multitronic                1
Audi - A6 4.2 Avant Quattro Tiptronic                  1
Audi - A6 4.2 Quattro Tiptronic                        1
Audi - A8 4.2 Quatto Tiptronic                         1
Audi - Q7 3.6 V6 284cv Quattro Tiptronic               2
Audi - Q7 4.2 V8 40v 350cv Quattro Tiptronic           6
Audi - Rs6 4.2 450cv Bi-tb Quattro Tiptronic 4p        1
Audi - Tt 2.0 16v Turbo Fsi S-tronic                   4
Audi - Tt Roadster 2.0 16v Turbo Fsi S-tronic          1
Bmw - 120i 2.0 16v 150cv/ 156cv 5p                     8
Bmw - 120ia 2.0 16v 150cv/ 156cv 5p                   18
Bmw - 120ia 2.0 16v 156cv 3p                           2
Bmw - 130i 3.0 24v 265cv 5p                            2
Bmw - 130ia 3.0 24v 265cv 3p                           2
Bmw - 130ia 3.0 24v 265cv 5p                           6
[50 rows x 2 columns]

Number of unique valuesfor VehGroup: 285
Value counts for VehGroup:

VehGroup                       Count
---------------------------  -------
Agrale Caminhoes - Todos          19
Alfa Romeo 147                     1
Alfa Romeo 156                     4
Alfa Romeo 164                     1
Audi A3                          214
Audi A4                           27
Audi A5                            1
Audi A6                            9
Audi A8                            1
Audi Q7                            8
Audi Rs6                           1
Audi Tt                            5
Bmw - Todos                      289
Bmw Motos Acima De 450cc          32
Brp                                1
Buell Motos - Todas                5
Chana                              5
Chevrolet Caminhoes - Todos        1
Chrysler - Todos                 172
Citroen Berlingo                  16
Citroen C3                      2600
Citroen C4                      1335
Citroen C5                        56
Citroen C6                         1
Citroen C8                         7
Citroen Jumper                    20
Citroen Xantia                     2
Citroen Xsara                   1422
Citroen Zx                         1
Daewoo - Todos                     2
Dafra                             21
Daihatsu - Todos                   1
Dayun                              1
Dodge Dakota                       6
Dodge Journey                     52
Dodge Ram                         57
Ducati Motos - Todas               3
Effa                              20
Engesa                             1
Ferrari - Todos                    1
Fiat Brava                       108
Fiat Doblo                       808
Fiat Ducato                      128
Fiat Elba                         25
Fiat Fiorino                     644
Fiat Idea                       1365
Fiat Linea                       450
Fiat Marea                        77
Fiat Marea Weekend                44
Fiat Palio 1.0                  9109
[50 rows x 2 columns]

Number of unique valuesfor Area: 40
Value counts for Area:

Area                                          Count
------------------------------------------  -------
Acre                                            408
Alagoas                                        1830
Amapa                                           269
Amazonas                                       1371
Bahia                                          5843
Blumenau e demais regioes                      6289
Brasilia                                       7133
Ceara                                          3914
Demais regioes                                13320
Espirito Santo                                 4111
F.Iguatu-Medianeira-Cascavel-Toledo            3096
Goias                                          6549
Grande Campinas                                6538
Interior                                       3646
Litoral Norte e Baixada Santista               2048
Maranhao                                       1784
Mato Grosso                                    3341
Mato Grosso do Sul                             3223
Met. Curitiba                                  8574
Met. Florianopolis e Sul                       4988
Met. Porto Alegre e Caxias do Sul              8343
Met. de Sao Paulo                             20269
Met. do Rio de Janeiro                         9405
Met.BH-Centro Oeste-Zona Mata-C. Vertentes     9195
Oeste                                          2097
Para                                           2437
Paraiba                                        2302
Pernambuco                                     4460
Piaui                                          1504
Ribeirao Preto e Demais Mun. de Campinas      16956
Rio Grande do Norte                            2437
Rondonia                                        221
Roraima                                         201
Sergipe                                        1970
Sudeste de Goias                               1067
Sul                                            2871
Tocantins                                      1070
Triangulo mineiro                              5158
Vale do Aco-Norte-Vale Jequitinhonha           1625
Vale do Paraiba e Ribeira                      5952
[40 rows x 2 columns]

Number of unique valuesfor State: 27
Value counts for State:

State                  Count
-------------------  -------
Acre                     408
Alagoas                 1830
Amapa                    269
Amazonas                1371
Bahia                   5843
Ceara                   3914
Distrito Federal        7133
Esperito Santo          4111
Goias                   7616
Maranhao                1784
Mato Grosso             3341
Mato Grosso do Sul      3223
Minas Gerais           18849
Para                    2437
Paraiba                 2302
Parana                 17869
Pernambuco              4460
Piaui                   1504
Rio Grande do Norte     2437
Rio Grande do Sul      15464
Rio de Janeiro         13051
Rondonia                 221
Roraima                  201
Santa Catarina         13374
Sao Paulo              51763
Sergipe                 1970
Tocantins               1070
[27 rows x 2 columns]

Number of unique valuesfor StateAb: 27
Value counts for StateAb:

StateAb      Count
---------  -------
AC             408
AL            1830
AM            1371
AP             269
BA            5843
CE            3914
DF            7133
ES            4111
GO            7616
MA            1784
MG           18849
MS            3223
MT            3341
PA            2437
PB            2302
PE            4460
PI            1504
PR           17869
RJ           13051
RN            2437
RO             221
RR             201
RS           15464
SC           13374
SE            1970
SP           51763
TO            1070
[27 rows x 2 columns]

In [ ]:
#nan its no information

In [24]:
for col in enum_columns:
    print(f"Counts of unique values by {col} and Fold:")
    grouped_df = df.group_by([col, "Fold"]).count().get_frame()
    if len(grouped_df) == len(grouped_df[col].unique())*6:
        print(f"All good! All categories of the {col} column have at least one value for each fold.")
    else:
        print(f"That's bad! Some categories of the {col} column do not have at least one value for each fold.")
    display(grouped_df.head(50))

Counts of unique values by Gender and Fold:
All good! All categories of the Gender column have at least one value for each fold.

Gender      Fold    nrow
--------  ------  ------
Female         1   12879
Female         2   13010
Female         3   12708
Female         4   12907
Female         5   12985
Female         6   16109
Male           1   15833
Male           2   15630
Male           3   15489
Male           4   15622
Male           5   15480
Male           6   19490
nan            1    1573
nan            2    1547
nan            3    1496
nan            4    1555
nan            5    1593
nan            6    1909
[18 rows x 3 columns]

Counts of unique values by DrivAge and Fold:
All good! All categories of the DrivAge column have at least one value for each fold.

DrivAge      Fold    nrow
---------  ------  ------
18-25           1    1869
18-25           2    1956
18-25           3    1785
18-25           4    1834
18-25           5    1839
18-25           6    2321
26-35           1    5811
26-35           2    5762
26-35           3    5797
26-35           4    5809
26-35           5    5899
26-35           6    7222
36-45           1    9053
36-45           2    8742
36-45           3    8627
36-45           4    8693
36-45           5    8757
36-45           6   11005
46-55           1    6148
46-55           2    6325
46-55           3    6251
46-55           4    6337
46-55           5    6285
46-55           6    7862
>55             1    5877
>55             2    5883
>55             3    5791
>55             4    5898
>55             5    5726
>55             6    7248
nan             1    1527
nan             2    1519
nan             3    1442
nan             4    1513
nan             5    1552
nan             6    1850
[36 rows x 3 columns]

Counts of unique values by VehModel and Fold:
That's bad! Some categories of the VehModel column do not have at least one value for each fold.

VehModel                                       Fold    nrow
-------------------------------------------  ------  ------
Agrale - 13000 Turbo 2p (diesel)                  5       1
Agrale - 1600 D-rs 2p (diesel)                    3       1
Agrale - 5000 D-rd 2p (diesel)                    1       1
Agrale - 6000 D Cs 2p (diesel)                    6       1
Agrale - 7000 D 2p (diesel)                       1       1
Agrale - 8500 Turbo 2p (diesel)                   3       3
Agrale - 8500 Turbo 2p (diesel)                   5       3
Agrale - 8500 Turbo 2p (diesel)                   6       3
Agrale - 9200 Turbo 2p (diesel)                   1       3
Agrale - 9200 Turbo 2p (diesel)                   2       1
Agrale - 9200 Turbo 2p (diesel)                   4       1
Alfa Romeo - 147 2.0 16v 148cv 4p Semi-aut.       3       1
Alfa Romeo - 156 Ts/sport/elegant 2.0 16v         1       2
Alfa Romeo - 156 Ts/sport/elegant 2.0 16v         4       2
Alfa Romeo - 164 3.0 V6                           6       1
Audi - A3 1.6 3p                                  2       3
Audi - A3 1.6 3p                                  4       2
Audi - A3 1.6 5p                                  1       3
Audi - A3 1.6 5p                                  2       2
Audi - A3 1.6 5p                                  3       3
Audi - A3 1.6 5p                                  4       3
Audi - A3 1.6 5p                                  6       3
Audi - A3 1.6 5p Aut                              6       1
Audi - A3 1.6 8v 102cv 3p                         4       1
Audi - A3 1.6 8v 102cv 3p                         5       1
Audi - A3 1.8 3p                                  1       1
Audi - A3 1.8 3p                                  2       2
Audi - A3 1.8 3p                                  3       1
Audi - A3 1.8 3p                                  4       2
Audi - A3 1.8 3p                                  5       3
Audi - A3 1.8 3p                                  6       2
Audi - A3 1.8 3p Aut.                             5       1
Audi - A3 1.8 3p Aut.                             6       1
Audi - A3 1.8 5p Aut.                             1       4
Audi - A3 1.8 5p Aut.                             2       7
Audi - A3 1.8 5p Aut.                             3       3
Audi - A3 1.8 5p Aut.                             4       2
Audi - A3 1.8 5p Aut.                             5       3
Audi - A3 1.8 5p Aut.                             6       3
Audi - A3 1.8 5p Mec.                             1       3
Audi - A3 1.8 5p Mec.                             2       7
Audi - A3 1.8 5p Mec.                             3       3
Audi - A3 1.8 5p Mec.                             4      11
Audi - A3 1.8 5p Mec.                             5       4
Audi - A3 1.8 5p Mec.                             6      12
Audi - A3 1.8 Turbo 180cv 3p Aut./ Tip.           1       1
Audi - A3 1.8 Turbo 180cv 5p Aut./ Tip.           1       1
Audi - A3 1.8 Turbo 180cv 5p Aut./ Tip.           2       3
Audi - A3 1.8 Turbo 180cv 5p Aut./ Tip.           3       3
Audi - A3 1.8 Turbo 180cv 5p Aut./ Tip.           4       1
[50 rows x 3 columns]

Counts of unique values by VehGroup and Fold:
That's bad! Some categories of the VehGroup column do not have at least one value for each fold.

VehGroup                    Fold    nrow
------------------------  ------  ------
Agrale Caminhoes - Todos       1       5
Agrale Caminhoes - Todos       2       1
Agrale Caminhoes - Todos       3       4
Agrale Caminhoes - Todos       4       1
Agrale Caminhoes - Todos       5       4
Agrale Caminhoes - Todos       6       4
Alfa Romeo 147                 3       1
Alfa Romeo 156                 1       2
Alfa Romeo 156                 4       2
Alfa Romeo 164                 6       1
Audi A3                        1      26
Audi A3                        2      40
Audi A3                        3      29
Audi A3                        4      41
Audi A3                        5      27
Audi A3                        6      51
Audi A4                        1       7
Audi A4                        2       3
Audi A4                        3       6
Audi A4                        4       3
Audi A4                        5       2
Audi A4                        6       6
Audi A5                        6       1
Audi A6                        2       2
Audi A6                        4       4
Audi A6                        5       2
Audi A6                        6       1
Audi A8                        4       1
Audi Q7                        1       2
Audi Q7                        2       1
Audi Q7                        4       4
Audi Q7                        5       1
Audi Rs6                       3       1
Audi Tt                        2       1
Audi Tt                        3       1
Audi Tt                        4       1
Audi Tt                        5       1
Audi Tt                        6       1
Bmw - Todos                    1      45
Bmw - Todos                    2      47
Bmw - Todos                    3      55
Bmw - Todos                    4      55
Bmw - Todos                    5      43
Bmw - Todos                    6      44
Bmw Motos Acima De 450cc       1       6
Bmw Motos Acima De 450cc       2       6
Bmw Motos Acima De 450cc       3       6
Bmw Motos Acima De 450cc       4       5
Bmw Motos Acima De 450cc       5       1
Bmw Motos Acima De 450cc       6       8
[50 rows x 3 columns]

Counts of unique values by Area and Fold:
All good! All categories of the Area column have at least one value for each fold.

Area                         Fold    nrow
-------------------------  ------  ------
Acre                            1      60
Acre                            2      80
Acre                            3      53
Acre                            4      69
Acre                            5      57
Acre                            6      89
Alagoas                         1     294
Alagoas                         2     300
Alagoas                         3     265
Alagoas                         4     299
Alagoas                         5     277
Alagoas                         6     395
Amapa                           1      48
Amapa                           2      41
Amapa                           3      48
Amapa                           4      45
Amapa                           5      42
Amapa                           6      45
Amazonas                        1     203
Amazonas                        2     235
Amazonas                        3     217
Amazonas                        4     212
Amazonas                        5     231
Amazonas                        6     273
Bahia                           1     927
Bahia                           2     938
Bahia                           3     939
Bahia                           4     905
Bahia                           5     944
Bahia                           6    1190
Blumenau e demais regioes       1    1022
Blumenau e demais regioes       2    1029
Blumenau e demais regioes       3     980
Blumenau e demais regioes       4    1019
Blumenau e demais regioes       5    1001
Blumenau e demais regioes       6    1238
Brasilia                        1    1121
Brasilia                        2    1157
Brasilia                        3    1115
Brasilia                        4    1125
Brasilia                        5    1154
Brasilia                        6    1461
Ceara                           1     654
Ceara                           2     609
Ceara                           3     583
Ceara                           4     613
Ceara                           5     670
Ceara                           6     785
Demais regioes                  1    2174
Demais regioes                  2    2130
[50 rows x 3 columns]

Counts of unique values by State and Fold:
All good! All categories of the State column have at least one value for each fold.

State               Fold    nrow
----------------  ------  ------
Acre                   1      60
Acre                   2      80
Acre                   3      53
Acre                   4      69
Acre                   5      57
Acre                   6      89
Alagoas                1     294
Alagoas                2     300
Alagoas                3     265
Alagoas                4     299
Alagoas                5     277
Alagoas                6     395
Amapa                  1      48
Amapa                  2      41
Amapa                  3      48
Amapa                  4      45
Amapa                  5      42
Amapa                  6      45
Amazonas               1     203
Amazonas               2     235
Amazonas               3     217
Amazonas               4     212
Amazonas               5     231
Amazonas               6     273
Bahia                  1     927
Bahia                  2     938
Bahia                  3     939
Bahia                  4     905
Bahia                  5     944
Bahia                  6    1190
Ceara                  1     654
Ceara                  2     609
Ceara                  3     583
Ceara                  4     613
Ceara                  5     670
Ceara                  6     785
Distrito Federal       1    1121
Distrito Federal       2    1157
Distrito Federal       3    1115
Distrito Federal       4    1125
Distrito Federal       5    1154
Distrito Federal       6    1461
Esperito Santo         1     627
Esperito Santo         2     656
Esperito Santo         3     682
Esperito Santo         4     633
Esperito Santo         5     682
Esperito Santo         6     831
Goias                  1    1222
Goias                  2    1212
[50 rows x 3 columns]

Counts of unique values by StateAb and Fold:
All good! All categories of the StateAb column have at least one value for each fold.

StateAb      Fold    nrow
---------  ------  ------
AC              1      60
AC              2      80
AC              3      53
AC              4      69
AC              5      57
AC              6      89
AL              1     294
AL              2     300
AL              3     265
AL              4     299
AL              5     277
AL              6     395
AM              1     203
AM              2     235
AM              3     217
AM              4     212
AM              5     231
AM              6     273
AP              1      48
AP              2      41
AP              3      48
AP              4      45
AP              5      42
AP              6      45
BA              1     927
BA              2     938
BA              3     939
BA              4     905
BA              5     944
BA              6    1190
CE              1     654
CE              2     609
CE              3     583
CE              4     613
CE              5     670
CE              6     785
DF              1    1121
DF              2    1157
DF              3    1115
DF              4    1125
DF              5    1154
DF              6    1461
ES              1     627
ES              2     656
ES              3     682
ES              4     633
ES              5     682
ES              6     831
GO              1    1222
GO              2    1212
[50 rows x 3 columns]

In [26]:
# Define the output file name
output_file_name = data_dir / coverage/ model/ f"brvehins1_{coverage}_{model}_preprocessed.csv"
#Create the directory if it doesnt exist
output_file_name.parent.mkdir(parents=True, exist_ok=True)
# Export th data to a csv file
h2o.export_file(frame = df, path = str(output_file_name), force=True)

print(f"Data exported to {output_file_name}")
print(f"Exposted data shape: {df.dim}")

Export File progress: |██████████████████████████████████████████████████████████| (done) 100%
Data exported to d:\brvehins\data\PartColl\sev\brvehins1_PartColl_sev_preprocessed.csv
Exposted data shape: [187815, 38]

In [27]:
df_check = h2o.import_file(str(output_file_name))

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [28]:
df_check.types

{'Gender': 'enum',
 'DrivAge': 'enum',
 'VehYear': 'int',
 'VehModel': 'enum',
 'VehGroup': 'enum',
 'Area': 'enum',
 'State': 'enum',
 'StateAb': 'enum',
 'ExposTotal': 'real',
 'PremTotal': 'real',
 'SumInsAvg': 'real',
 'ClaimNbRob': 'int',
 'ClaimNbPartColl': 'int',
 'ClaimNbTotColl': 'int',
 'ClaimNbFire': 'int',
 'ClaimNbOther': 'int',
 'ClaimAmountRob': 'int',
 'ClaimAmountPartColl': 'int',
 'ClaimAmountTotColl': 'int',
 'ClaimAmountFire': 'int',
 'ClaimAmountOther': 'int',
 'FreqRob': 'real',
 'SevRob': 'real',
 'PPRob': 'real',
 'FreqPartColl': 'real',
 'SevPartColl': 'real',
 'PPPartColl': 'real',
 'FreqTotColl': 'real',
 'SevTotColl': 'real',
 'PPTotColl': 'real',
 'FreqFire': 'real',
 'SevFire': 'real',
 'PPFire': 'real',
 'FreqOther': 'real',
 'SevOther': 'real',
 'PPOther': 'real',
 'Fold': 'int',
 'log(ExposTotal)': 'real'}

In [29]:
df.types

{'Gender': 'enum',
 'DrivAge': 'enum',
 'VehYear': 'int',
 'VehModel': 'enum',
 'VehGroup': 'enum',
 'Area': 'enum',
 'State': 'enum',
 'StateAb': 'enum',
 'ExposTotal': 'real',
 'PremTotal': 'real',
 'SumInsAvg': 'real',
 'ClaimNbRob': 'int',
 'ClaimNbPartColl': 'int',
 'ClaimNbTotColl': 'int',
 'ClaimNbFire': 'int',
 'ClaimNbOther': 'int',
 'ClaimAmountRob': 'int',
 'ClaimAmountPartColl': 'int',
 'ClaimAmountTotColl': 'int',
 'ClaimAmountFire': 'int',
 'ClaimAmountOther': 'int',
 'FreqRob': 'real',
 'SevRob': 'real',
 'PPRob': 'real',
 'FreqPartColl': 'real',
 'SevPartColl': 'real',
 'PPPartColl': 'real',
 'FreqTotColl': 'real',
 'SevTotColl': 'real',
 'PPTotColl': 'real',
 'FreqFire': 'real',
 'SevFire': 'real',
 'PPFire': 'real',
 'FreqOther': 'real',
 'SevOther': 'real',
 'PPOther': 'real',
 'Fold': 'int',
 'log(ExposTotal)': 'real'}

In [30]:
df_check.describe()

Rows:187815
Cols:38

         Gender    DrivAge    VehYear             VehModel                                                    VehGroup                         Area                                        State               StateAb    ExposTotal             PremTotal            SumInsAvg           ClaimNbRob           ClaimNbPartColl     ClaimNbTotColl       ClaimNbFire            ClaimNbOther        ClaimAmountRob     ClaimAmountPartColl    ClaimAmountTotColl    ClaimAmountFire    ClaimAmountOther    FreqRob               SevRob              PPRob               FreqPartColl           SevPartColl        PPPartColl           FreqTotColl          SevTotColl          PPTotColl          FreqFire               SevFire            PPFire             FreqOther            SevOther            PPOther             Fold                log(ExposTotal)
-------  --------  ---------  ------------------  ----------------------------------------------------------  -------------------------------  ------------------------------------------  ------------------  ---------  ---------------------  -------------------  ------------------  -------------------  ------------------  -------------------  ---------------------  ------------------  -----------------  ---------------------  --------------------  -----------------  ------------------  --------------------  ------------------  ------------------  ---------------------  -----------------  -------------------  -------------------  ------------------  -----------------  ---------------------  -----------------  -----------------  -------------------  ------------------  ------------------  ------------------  --------------------
type     enum      enum       int                 enum                                                        enum                             enum                                        enum                enum       real                   real                 real                int                  int                 int                  int                    int                 int                int                    int                   int                int                 real                  real                real                real                   real               real                 real                 real                real               real                   real               real               real                 real                real                int                 real
mins                          1970.0                                                                                                                                                                                      0.0027397261001169703  0.00867888145148754  7.08                0.0                  1.0                 0.0                  0.0                    0.0                 0.0                1.0                    0.0                   0.0                0.0                 0.0                   0.0                 0.0                 0.0023530519083250975  1.0                0.02795638803466591  0.0                  0.0                 0.0                0.0                    0.0                0.0                0.0                  0.0                 0.0                 1.0                 -5.899897327039798
mean                          2006.9904267497275                                                                                                                                                                          17.79210827253136      17774.736811163533   35344.01935079735   0.17241434390224414  2.1100125123126494  0.08890131246173098  0.0037590181827862525  3.375640923248943   4136.42705854165   7553.045949471551      2772.405143359157     66.21365705614568  845.5824721135159   0.06768286645810671   2504.7427493058626  1895.0381971922918  1.2026736133798854     3999.324653127265  5447.678039726333    0.05448851374885887  2304.2914766481317  1857.793113301305  0.0013434533170997949  63.11115858690733  41.42074498711959  0.47916783622781345  210.41737305863998  445.33970675590984  3.596155791603443   1.7586508600884265
maxs                          2011.0                                                                                                                                                                                      8078.440000000001      6478755.129999999    904788.0200000004   164.0                1617.0              66.0                 6.0                    1278.0              4421765.0          2289213.0              2201873.0             210436.0           967914.0            729.999980623834      347611.0            13577269.639622685  5474.999854678754      622483.0           24583114.34749792    729.999980623834     347645.0            27480849.27058422  25.0                   201149.0           1475500.0          6934.999815926422    228717.0            3903300.0           6.0                 8.996954063567932
sigma                         3.4792564313252416                                                                                                                                                                          44.73851022290518      45213.94045398596    22869.538107064607  0.8997678808598801   7.681954965690363   0.40229869959723835  0.0658072468847332     15.531251274022871  24961.51287040023  18109.225207751188     15253.528820249336    1702.588400812393  6441.028225412758   3.3598055785065952    9861.787056888907   75507.50919382717   19.292246058601027     7235.864831271306  97552.34091686767    3.2774321759059384   9833.639105240116   88778.42718161625  0.1103771619634718     1594.894719748211  5131.123880908063  18.30649977931277    2070.096693485992   18058.256337292678  1.7458646589036977  1.5812008449260462
zeros                         0                                                                                                                                                                                           0                      0                    0                   168572               0                   173904               187149                 120628              168572             0                      173904                187149             120628              168572                168572              168572              0                      0                  0                    173904               173904              173904             187149                 187149             187149             120628               120628              120628              0                   1703
missing  0         0          0                   0                                                           0                                0                                           0                   0          0                      0                    0                   0                    0                   0                    0                      0                   0                  0                      0                     0                  0                   0                     0                   0                   0                      0                  0                    0                    0                   0                  0                      0                  0                  0                    0                   0                   0                   0
0        Male      36-45      2009.0              Volvo - Fh 440 6x2 2p (diesel)                              Volvo Caminhoes - Todos          Ribeirao Preto e Demais Mun. de Campinas    Sao Paulo           SP         4.55                   53031.35             301889.74           0.0                  1.0                 0.0                  0.0                    0.0                 0.0                648.0                  0.0                   0.0                0.0                 0.0                   0.0                 0.0                 0.21978021978021972    648.0              142.41758241758245   0.0                  0.0                 0.0                0.0                    0.0                0.0                0.0                  0.0                 0.0                 5.0                 1.5151272329628591
1        Male      26-35      1998.0              Vw - Volkswagen - Gol Gl 1.6 Mi/star 1.6 E 1.8/atlanta 1.6  Vw Volkswagen Gol Acima De 1.0   Met. Porto Alegre e Caxias do Sul           Rio Grande do Sul   RS         1.0                    660.59               13574.0             0.0                  1.0                 0.0                  0.0                    2.0                 0.0                2773.0                 0.0                   0.0                120.0               0.0                   0.0                 0.0                 1.0                    2773.0             2773.0               0.0                  0.0                 0.0                0.0                    0.0                0.0                2.0                  60.0                120.0               3.0                 0.0
2        Male      26-35      2010.0              Vw - Volkswagen - Gol City (trend) 1.0 Mi Total Flex 8v 4p  Vw Volkswagen Gol 1.0            Maranhao                                    Maranhao            MA         10.42                  12908.31             26540.060000000005  0.0                  1.0                 0.0                  0.0                    2.0                 0.0                1512.0                 0.0                   0.0                320.0               0.0                   0.0                 0.0                 0.09596928982725528    1512.0             145.10556621880997   0.0                  0.0                 0.0                0.0                    0.0                0.0                0.19193857965451055  160.0               30.71017274472169   2.0                 2.343727036325221
3        Female    36-45      2004.0              Vw - Volkswagen - Polo 1.6 Mi/ S.ouro 1.6mi 101cv 8v 5p     Vw Volkswagen Polo               Met. Curitiba                               Parana              PR         11.99                  10070.33             22506.910000000003  0.0                  1.0                 0.0                  0.0                    0.0                 0.0                3965.0                 0.0                   0.0                0.0                 0.0                   0.0                 0.0                 0.08340283569641364    3965.0             330.6922435362802    0.0                  0.0                 0.0                0.0                    0.0                0.0                0.0                  0.0                 0.0                 2.0                 2.4840729690394228
4        Female    26-35      2008.0              Vw - Volkswagen - Gol City (trend) 1.0 Mi Total Flex 8v 2p  Vw Volkswagen Gol 1.0            Maranhao                                    Maranhao            MA         6.02                   4956.41              22530.46            0.0                  2.0                 0.0                  0.0                    5.0                 0.0                4263.0                 0.0                   0.0                309.0               0.0                   0.0                 0.0                 0.3322259136212624     2131.5             708.1395348837212    0.0                  0.0                 0.0                0.0                    0.0                0.0                0.8305647840531564   61.8                51.32890365448505   3.0                 1.7950872593207297
5        Female    46-55      2009.0              Ford - Focus 2.0 16v 5p Aut.                                Ford Focus                       Met.BH-Centro Oeste-Zona Mata-C. Vertentes  Minas Gerais        MG         8.29                   10176.93             53734.17            0.0                  2.0                 0.0                  0.0                    2.0                 0.0                3700.0                 0.0                   0.0                906.0               0.0                   0.0                 0.0                 0.241254523522316      1850.0             446.32086851628475   0.0                  0.0                 0.0                0.0                    0.0                0.0                0.241254523522316    453.0               109.28829915560917  4.0                 2.1150499691472033
6        Male      46-55      2009.0              Ford - Ka 1.0 8v Flex 3p                                    Ford Ka 1.0                      Vale do Paraiba e Ribeira                   Sao Paulo           SP         58.82                  40061.91999999999    24258.930000000004  1.0                  5.0                 0.0                  0.0                    6.0                 27560.0            8483.0                 0.0                   0.0                551.0               0.017001020061203673  27560.0             468.5481128867732   0.08500510030601836    1696.6             144.2196531791908    0.0                  0.0                 0.0                0.0                    0.0                0.0                0.102006120367222    91.83333333333336   9.367562053723224   3.0                 4.074481933125849
7        Male      36-45      2009.0              Gm - Chevrolet - Corsa Sed. Premium 1.4 8v Econoflex 4p     Gm Chevrolet Corsa Acima De 1.0  Met. de Sao Paulo                           Sao Paulo           SP         19.3                   18517.330000000005   30989.460000000003  1.0                  1.0                 0.0                  0.0                    0.0                 30156.0            2114.0                 0.0                   0.0                0.0                 0.05181347150259069   30156.0             1562.487046632124   0.05181347150259069    2114.0             109.53367875647672   0.0                  0.0                 0.0                0.0                    0.0                0.0                0.0                  0.0                 0.0                 1.0                 2.9601050959108397
8        Female    26-35      2004.0              Vw - Volkswagen - Fox City 1.0 Mi/ 1.0mi Total Flex 8v 4p   Vw Volkswagen Fox 1.0            Pernambuco                                  Pernambuco          PE         2.82                   2578.99              22050.15            0.0                  1.0                 0.0                  0.0                    4.0                 0.0                2692.0                 0.0                   0.0                268.0               0.0                   0.0                 0.0                 0.3546099290780141     2692.0             954.609929078014     0.0                  0.0                 0.0                0.0                    0.0                0.0                1.4184397163120563   67.0                95.03546099290782   6.0                 1.0367368849500225
9        Female    >55        2009.0              Peugeot - 207 Xs 1.6 Flex 16v 5p Aut.                       Peugeot 207                      Mato Grosso do Sul                          Mato Grosso do Sul  MS         1.01                   1169.92              41164.01000000001   0.0                  1.0                 0.0                  0.0                    6.0                 0.0                2612.0                 0.0                   0.0                414.0               0.0                   0.0                 0.0                 0.99009900990099       2612.0             2586.138613861386    0.0                  0.0                 0.0                0.0                    0.0                0.0                5.940594059405941    69.0                409.9009900990099   2.0                 0.009950330853168092
[187815 rows x 38 columns]

In [31]:
df_check.isna().sum(return_frame=True)

  isNA(Gender)    isNA(DrivAge)    isNA(VehYear)    isNA(VehModel)    isNA(VehGroup)    isNA(Area)    isNA(State)    isNA(StateAb)    isNA(ExposTotal)    isNA(PremTotal)    isNA(SumInsAvg)    isNA(ClaimNbRob)    isNA(ClaimNbPartColl)    isNA(ClaimNbTotColl)    isNA(ClaimNbFire)    isNA(ClaimNbOther)    isNA(ClaimAmountRob)    isNA(ClaimAmountPartColl)    isNA(ClaimAmountTotColl)    isNA(ClaimAmountFire)    isNA(ClaimAmountOther)    isNA(FreqRob)    isNA(SevRob)    isNA(PPRob)    isNA(FreqPartColl)    isNA(SevPartColl)    isNA(PPPartColl)    isNA(FreqTotColl)    isNA(SevTotColl)    isNA(PPTotColl)    isNA(FreqFire)    isNA(SevFire)    isNA(PPFire)    isNA(FreqOther)    isNA(SevOther)    isNA(PPOther)    isNA(Fold)    isNA(log(ExposTotal))
--------------  ---------------  ---------------  ----------------  ----------------  ------------  -------------  ---------------  ------------------  -----------------  -----------------  ------------------  -----------------------  ----------------------  -------------------  --------------------  ----------------------  ---------------------------  --------------------------  -----------------------  ------------------------  ---------------  --------------  -------------  --------------------  -------------------  ------------------  -------------------  ------------------  -----------------  ----------------  ---------------  --------------  -----------------  ----------------  ---------------  ------------  -----------------------
             0                0                0                 0                 0             0              0                0                   0                  0                  0                   0                        0                       0                    0                     0                       0                            0                           0                        0                         0                0               0              0                     0                    0                   0                    0                   0                  0                 0                0               0                  0                 0                0             0                        0
[1 row x 38 columns]

In [32]:
df_check.isna().sum()

0.0